.container-cabins {
    min-height:200px;
    margin:0;
    width:100%;
    max-width: none;
    padding:0;
    .row {
        text-align: center;
    }
}

.container-cabins.primary {
    margin-top:56px;
}

.container-cabins.secondary {
    background-color: #0D3B66;
}

.container-cabins.footer {
    padding-top: 50px;
    color: #ffffff;
}

.cabins-navbar{
    background-color: $secondary;
    color: #ffffff;
    .navbar-nav a.nav-link{
        color: #ffffff;
        
    }
    .navbar-nav a.nav-link:hover{
        color: $primary;
    }
}

.filters-form{
    text-align: left;
}

.page-title{
    margin-bottom:50px;
}

.listingCard{
    text-align:left;
    margin-bottom:25px;
}

.inner-container{
    padding:50px;
}