.container-cabins {
    min-height:200px;
    margin:0;
    width:100%;
    max-width: none;
    padding:0;
    .row {
        text-align: center;
    }
}

.container-cabins.primary {
    background-color: $primary;
}

.container-cabins.secondary {
    background-color: $secondary;
}

.container-cabins.footer {
    padding-top: 50px;
}

.cabins-navbar{
    background-color: $secondary;
    color: #ffffff;
    .navbar-nav a.nav-link{
        color: #ffffff;
        
    }
    .navbar-nav a.nav-link:hover{
        color: $primary;
    }
}